bliker==1.7.0
click==8.1.7
colorama==0.4.6
Flask==3.0.0
iysdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
MarkupSafe==2.1.3
numpy==1.26.3
threadpoolctl==3.2.0
Werkzeug==3.0.1
tensorflow==2.18.0
gunicorn==19.7.1
